html
  head
    title ./
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body

    script(src="/js/canvasquery.js")
    script(src="/js/canvasquery.framework.js")
    script(src="/js/punch.js")